body {
  background-color: #00002b !important;
}

.logo1 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.logo2 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 35px;
  font-style: normal;
  color: white;
  text-align: center;
  margin-bottom: 0;
  font-weight: 800;
}

.logo3 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  color: white;
  text-align: center;
  font-weight: 800;
}

.texto1 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.texto2 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 35px;
}

.recomendacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#produtos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 355px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content h3 {
  color: #fff;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 40px;
}

.card-content p {
  color: #fff;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-style: normal;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1.5;
}

.footer {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn {
  display: flex;
  color: white !important;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  justify-content: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.autor {
  font-family: "Fredoka", sans-serif;
  font-size: 15px;
  color: #f8f8f8;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}