 body {
    background-color: #00002B;
 }

 h1 {
  padding-top: -10px;
    font-family: HoltWood One Sc;
    text-align: center;
    color: #ef124f;
    font-size: 60px;
 }

 h3 {
  font-family: Imperial Script;
    padding-left: 10px;
    padding-bottom: 0%;
    color: #ff6992;
    font-size: 40px;
 }

 .imagem1 img {
    display: flex;
    height: 335px;
    width: 255px;
    padding-right: 27px;
    padding-left: 7px;
    padding-top: 0;
 }

 .informacoes img {
     display: flex;
     height: 100px;
     padding-left: 233px;
     position:absolute;
     top: 145px;
 }

 .primeirasimagens {
     display: flex;
     align-items: flex-start;
     gap: 2px;
 }

.coluna-esquerda {
  display: flex;
  flex-direction: column;
}

.sinopse {
  padding-left: 0px;
  color: #ff6992;
  font-family: IM FELL English SC;
  max-width: 210px;
  margin-left: 239px;
  margin-top: -230px;
}

.opiniao {
  padding-left: 0px;
  color: #ff6992;
  font-family: IM FELL English SC;
  max-width: 390px;
  margin-top: 40px;
  margin-left: 10px;
}

.data {
  padding-left: 0px;
  color: #ef124f;
  font-family: IM FELL French Canon SC;
  font-size: 14px;
  margin-left: 350px;
  
}

.titulo2 {
  font-size: 40px;
  max-width: 390px;
  margin-top: -670px;
  margin-bottom: 20px;
  margin-left: 440px;
  text-align: center;
}

.imagem2 {
  display: flex;
  height: 335px;
  width: 255px;
  padding-right: 27px;
  padding-left: 466px;
  padding-top: 0%;
}

.informacoes2 {
    display: flex;
    height: 100px;
    padding-left: 682px;
    position:absolute;
    top: 188px;
}

.sinopse2 {
    padding-left: 0px;
    color: #ff6992;
    font-family: IM FELL English SC;
    max-width: 250px;
    margin-left: 690px;
    margin-top: -235px;
    font-size: 15px;
}

 .opiniao2 {
   padding-left: 0px;
   color: #ff6992;
   font-family: IM FELL English SC;
   max-width: 390px;
   margin-top: 12px;
   margin-left: 479px;
   font-size: 15px;
 }

 .data2 {
  padding-left: 0px;
  color: #ef124f;
  font-family: IM FELL French Canon SC;
  font-size: 14px;
  margin-left: 790px;
  margin-top: -10px;
 }

 .titulo3 {
  font-size: 40px;
  max-width: 390px;
  margin-top: -678px;
  margin-bottom: 20px;
  margin-left: 905px;
  text-align: center;
 }

  .imagem3 {
  display: flex;
  height: 335px;
  width: 250px;
  padding-right: 27px;
  padding-left: 953px;
  padding-top: 0;
  }

  .informacoes3 {
    display: flex;
    height: 100px;
    padding-left: 1189px;
    position:absolute;
    top: 176px;
  }