body{
    background-color: #00002B !important;
}
.titulo{
 font-family: "Holtwood One SC", serif;
 color: #911315;
 text-align: center;
 font-size: 150%;
 margin-top: auto;
}
.subtitulo{
    font-family: "Holtwood One SC", serif;
 color: #ffffff;
 text-align: center;
 font-size: medium;
 margin-top: -03%;
}
.the-conjuring{
    display: flex;
    height: 350px;
    width: 350px;
    margin-left: 7px;
}
.nome1{
        font-family: "Holtwood One SC", serif;
 color: white;
}