body{
    background-color: #00002B;
}
h1{
    padding-top: 10px;
    font-family: bungee;
    text-align: center;
    color: #AB51DF;
    font-size: 60px;
}
h3{
    font-family: inspiration;
    padding-left: 37px;
    padding-bottom: 0%;
    color: #D85CFC;
    font-size: 40px;
}
img{
    height: 330px;
    width: 250px;
    padding-left: 30px;
    padding-top: 0;
}